/* You can add global styles to this file, and also import other style files */

/*@import '~bootstrap/dist/css/bootstrap.css'; */

/* Add some basic styling */

/*body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  h1 {
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
/* styles.css */
body {
    background-color: #39a848; /* background color */
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .navbar-brand {
    background-color: #fcfafc;
    font-weight: bold;
  }
  /*kouti*/
  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #4581db;
    border: 1px solid #f71b1b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }